{% extends "_base.html" %}

{% block main_content %}
    <div class="container pb-5">
        <h1>Please sign up</h1>
        <form method="post">{% csrf_token %}

            {% include 'includes/form.html' with form=form  %}

            <div class="mt-2 mt-md-3 d-flex justify-content-between">
                <a class="btn btn-outline-danger" href="{% url 'home' %}">Cancel</a>
                <button type="submit" class="btn btn-success">Sign up</button>
            </div>
        </form>

        <div class="mt-2 mt-md-3">
            <p>Already have one? <a href="{% url 'account_login' %}">Sign in now!</a></p>
        </div>
    </div>
{% endblock %}