{% extends '_base.html' %}
{% load static %}

{% block title %}UTM Source link builder for Google Analytics{% endblock title %}

{% block content %}


  {% if links %}
    <h1 class="display-4">Your links</h1>
    <p class="lead">Your Google Analytics UTM source URL links</p>
    {% for link in links %}
      <div class=".text-monospace border border-round p-3 my-1">
        <p>{{ link }}</p>
        <a href="{% url "link_details" link.pk %}">Edit</a>
      </div>
    {% endfor %}
  {% endif%}

{% endblock content %}
