{% extends "_base.html" %}

{% block title %}UTM Source link builder for Google Analytics{% endblock title %}

{% block main_content %}
    <div class="container">
       <h1>Hello, world!</h1>

       <div class="my-5 py-5">
            <h2>Collect campaign data with custom URLs</h2>
            <h3>Add parameters to URLs to identify the
                campaigns that refer traffic.</h3>
            <p>By adding campaign parameters to the destination URLs you use in your ad campaigns, you can collect information about
                the overall efficacy of those campaigns, and also understand where the campaigns are more effective. For example,
                your Summer Sale campaign might be generating lots of revenue, but if you`re running the campaign in several
                different social apps, you want to know which of them is sending you the customers who generate the most revenue. Or
                if you`re running different versions of the campaign via email, video ads, and in-app ads, you can compare the
                results to see where your marketing is most effective.</p>
            <p>When a user clicks a referral link, the parameters you add are sent to Analytics, and the related data is available
                in the Campaigns reports.</p>
            <h2>Parameters</h2>
            <p>There are 5 parameters you can add to your URLs:</p>
            <ul>
                <li><code>utm_source</code>: Identify the advertiser, site, publication, etc. that is sending traffic to your
                    property, for example: google, newsletter4, billboard.</li>
                <li><code>utm_medium</code>: The advertising or marketing medium, for example: cpc, banner, email newsletter.</li>
                <li><code>utm_campaign</code>: The individual campaign name, slogan, promo code, etc. for a product.</li>
                <li><code>utm_term</code>: Identify paid search keywords. If you`re manually tagging paid keyword campaigns, you
                    should also use utm_term to specify the keyword.</li>
                <li><code>utm_content</code>: Used to differentiate similar content, or links within the same ad. For example, if
                    you have two call-to-action links within the same email message, you can use <code>utm_content</code> and set
                    different values for each so you can tell which version is more effective.</li>
            </ul>
            <p>Each parameter must be paired with a value that you assign. Each parameter-value pair then contains campaign-related
                information.</p>
            <p>For example, you might use the following parameter-value pairs for your Summer Sale campaign:</p>
            <p><code>utm_source</code> = <code>summer-mailer</code> to identify traffic that results from your Summer Sale email
                campaign
                <code>utm_medium</code> = <code>email</code> to identify traffic from the email campaign vs. the in-app campaign
                <code>utm_campaign</code> = <code>summer-sale</code> to identify the overall campaign</p>
            <p>If you used these parameters, your custom-campaign URL would be:</p>
            <pre><code><span class="hljs-symbol">https:</span><span class="hljs-comment">//www.example.com/?utm_source=summer-mailer&amp;utm_medium=email&amp;utm_campaign=summer-sale</span>
            </code></pre>
            <p>More information: <a href="https://support.google.com/analytics/answer/1033863?hl=en">Google support</a>.</p>
        </div>
    </div>

{% endblock %}